<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>template</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="static/style/bootstrap-callout.css" rel="stylesheet">
</head>
<body>
  <div class="container" ng-app='simpleApp' ng-controller='SimpleCtrl'>
    <!-- Filters -->
    <!-- category (mul), week(one), validated_reason (галки из всех воз) -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Filters
      </div>
      <div class="panel-body">
        <table class='table'>
          <tr><th> Category: </th></tr>
          <tr ng-repeat='cat in categories'>
            <td><input type="checkbox" ng-model="filter['category'][cat]" /> {{cat}} </td> 
          </tr>
        </table>
        <table class='table'>
          <tr><th> Week: </th></tr>
          <tr ng-repeat='weekNumber in weeks'>
            <td><input type="checkbox" ng-model="filter['week'][weekNumber]" /> {{weekNumber}} </td> 
          </tr>
        </table>
        <table class='table'>
          <tr><th> Reason: </th></tr>
          <tr ng-repeat='reason in validated_reasons'>
            <td><input type="checkbox" ng-model="filter['validated_reason'][reason]" /> {{reason}} </td> 
          </tr>
        </table>
      </div>
    </div>
    <!-- Items -->
    <table class='table'>
      <tr>
        <th>item_id</th>
        <th>reason</th>
        <th>category</th>
        <th>week</th>
        <th>validated reason</th>
      </tr>
      <tr ng-repeat='item in filtered=(data | filter:filterByProperties)'>
        <td>{{item.item_id}} ({{item.item_ver}})</td>
        <td>{{item.action_datetime}}</td>
        <td>{{item.category}}</td>
        <td>{{item.week}}</td>
        <td>{{item.validated_reason}}</td>
      </tr>
    </table>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
  <script>
    var data = [
    {'action': 'Item is allowed by auto premoderation',
    'action_datetime': 1111,
    'action_reason': null,
    'attrs': '{"Адрес компании":"Проспект 50 лет октября д.3", "Сфера деятельности":"Фитнес, салоны красоты", "График работы":"Сменный график", "Опыт работы":"Не имеет значения"}',
    'category': 'Работа',
    'description': 'Профессиональные т',
    'duplicate_item_id': null,
    'images': [2508871296, 2508871296],
    'item_id': 732176832,
    'item_ver': 2,
    'week': 1,
    'subcategory': 'Вакансии',
    'title': 'Уборщицы в фитнес клуб',
    'validated_action': 'Item is rejected',
    'validated_reason': 'Фото не является логотипом, 2',
    'validator_logins': ['ivalova', 'arybintsev']},

    {'action': 'Item is allowed by auto premoderation',
    'action_datetime': 1111,
    'action_reason': null,
    'attrs': '{"Адрес компании":"Проспект 50 лет октября д.3", "Сфера деятельности":"Фитнес, салоны красоты", "График работы":"Сменный график", "Опыт работы":"Не имеет значения"}',
    'category': 'Авто',
    'description': 'Профессиональные ',
    'duplicate_item_id': null,
    'images': [2508871296, 2508871296],
    'item_id': 732176832,
    'item_ver': 2,
    'week': 15,
    'subcategory': 'Вакансии',
    'title': 'Уборщицы в фитнес клуб',
    'validated_action': 'Item is rejected',
    'validated_reason': 'Фото не является логотипом',
    'validator_logins': ['ivalova', 'arybintsev']},

    {'action': 'Item is allowed by auto premoderation',
    'action_datetime': 1111,
    'action_reason': null,
    'attrs': '{"Адрес компании":"Проспект 50 лет октября д.3", "Сфера деятельности":"Фитнес, салоны красоты", "График работы":"Сменный график", "Опыт работы":"Не имеет значения"}',
    'category': 'Авто',
    'description': 'Профессиональные ',
    'duplicate_item_id': null,
    'images': [2508871296, 2508871296],
    'item_id': 732176832,
    'item_ver': 2,
    'week': 15,
    'subcategory': 'Вакансии',
    'title': 'Уборщицы в фитнес клуб',
    'validated_action': 'Item is rejected',
    'validated_reason': 'drop shit on fan',
    'validator_logins': ['ivalova', 'arybintsev']},
    ];

    var app = angular.module('simpleApp', [])
    .controller('SimpleCtrl', function($scope) {
      $scope.data = data;
      $scope.filter = {};

      $scope.getOptionsFor = function (propName) {
        return ($scope.data || []).map(function (w) {
          return w[propName];
        }).filter(function (w, idx, arr) {
          return arr.indexOf(w) === idx;
        });
      };
      $scope.filterByProperties = function (data) {
        // Use this snippet for matching with AND
        var matchesAND = true;
        for (var prop in $scope.filter) {
          if (noSubFilter($scope.filter[prop])) continue;
          if (!$scope.filter[prop][data[prop]]) {
            matchesAND = false;
            break;
          }
        }
        return matchesAND;
      }; 
      function noSubFilter(subFilterObj) {
        for (var key in subFilterObj) {
          if (subFilterObj[key]) return false;
        }
        return true;
      };
      $scope.setUp = function(){
        $scope.categories =  $scope.getOptionsFor('category'); //  ['Работа', 'Авто'];
        $scope.weeks = $scope.getOptionsFor('week');
        $scope.validated_reasons = $scope.getOptionsFor('validated_reason');
      };
      $scope.setUp();
      
    });
    app.filter('capitalizeFirst', function () {
      return function (str) {
        str = str || '';
        return str.substring(0, 1).toUpperCase() + str.substring(1).toLowerCase();
      };
    });
  </script>
</body>
</html>